<mat-card style="margin-bottom: 20px;">
        <div class="container" style="margin-left: 12px;">
           <div class="row">
                <label for="inputEmail4" style="color:rgb(11, 120, 184);font-size: 20px;">454-BCBS Enrollment issue</label>
           </div>
        </div>  
</mat-card>
<mat-card>
<div class="container">
        <div class="row">
           <div class="col-sm-3">
                <label for="inputEmail4">ID</label>
                <input type="email" class="form-control" id="inputEmail4">
           </div>
           <div class="col-sm-3">
                <label for="inputEmail4">Client</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-sm-3">
                    <label for="inputEmail4">Category</label>
                    <input type="email" class="form-control" id="inputEmail4">
           </div>
           <div class="col-sm-3">
                <label for="inputEmail4">Opened</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
        </div>
        <div class="row">
                <div class="col-sm-3">
                     <label for="inputEmail4">User</label>
                     <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-sm-3">
                     <label for="inputEmail4">Days</label>
                     <input type="email" class="form-control" id="inputEmail4">
                 </div>
                 <div class="col-sm-3">
                         <label for="inputEmail4">Assignee</label>
                         <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="col-sm-3">
                     <label for="inputEmail4">Status</label>
                     <input type="email" class="form-control" id="inputEmail4">
                 </div>
             </div>

      
      <div class="row">
            <div class="col-sm-3">
                    <label for="inputEmail4">End Date</label>
                    <input type="email" class="form-control" id="inputEmail4">
           </div>
           <div class="col-sm-3">
                <label for="inputEmail4">Priority</label>
                <input type="email" class="form-control" id="inputEmail4">
       </div>
      </div>
    </div>
    </mat-card>
    <mat-card style="margin-top: 20px;">
            <div class="container" style="margin-left: 12px;">
               <div class="row">
                    <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label" style="font-size: 16px;">Summary :</label>
                            <div class="col-sm-10">
                                    <label for="inputEmail4" style="color:rgb(41, 45, 46)" >454-BCBS Enrollment issue</label>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size: 16px;">Details :</label>
                            <div class="col-sm-10">
                                    <label for="inputEmail4" style="color:rgb(41, 45, 46)">454-BCBS Enrollment issue</label>
                            </div>
                          </div>
                       
                              <mat-card>
                                    <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size: 16px;color:rgb(26, 137, 241)">Add note</label>
                                           
                                            <textarea style="margin: 0px; width: 948px; height: 50px;"></textarea>
                                            <div class="form-group" style="margin-left: 200px;">
                                                    <div class="col-sm-4">
                                                            <label for="file">Attachment</label>
                                                            <input type="file"
                                                                   id="file"
                                                                   (change)="handleFileInput($event.target.files)">
                                                    </div>
                                                    <div class="col-sm-8">
                                                            <button type="submit" value="submit" mat-button color="primary" class="mat-raised-button mat-button-base mat-primary pull-right" style="margin-right: 10px;">Save </button>
                                                        </div>
                                                    
                                                </div>
                                            
                                            <div class="row" style="padding-right: 5px;width: 1105px;">
                                                    
                                            </div>
                                          </div>
                              </mat-card>
               </div>
               <div class="col-sm-3">
                   
               </div>
            </div>  
    </mat-card>
    <mat-card>
            <div class="container">
            <div class="row">
                    <mat-card>
                         gfgfgfgfgfgfg
                    </mat-card>  
            </div>
            </div>
    </mat-card>